<div>
	<form>
	<div class="form-group">
   	<label for="ImageTag">Choose mood</label>
		<div class="row">
	      
	  	<div class="col-xs-2">
				<input type="radio" ng-model="mood.picture" value="smiling" checked><span>&nbsp;&nbsp;</span><img src="../assets/smiling.png" />
			</div>
	  	<div class="col-xs-2">
				<input type="radio" ng-model="mood.picture" value="confused"><span>&nbsp;&nbsp;</span><img src="../assets/confused.png" />
			</div>
	  	<div class="col-xs-2">
				<input type="radio" ng-model="mood.picture" value="sad"><span>&nbsp;&nbsp;</span><img src="../assets/sad.png" />
			</div>
	  	<div class="col-xs-2">
				<input type="radio" ng-model="mood.picture" value="angry"><span>&nbsp;&nbsp;</span><img src="../assets/angry.png" />
			</div>
	  </div>
	</div>

		<div class="row">
	  	<div class="col-xs-3">
		  <div class="form-group">
		    <label class="happinessRating">Rate your happiness</label>
		    <input type="text" ng-model="mood.happiness" class="form-control" id="exampleInputEmail1" placeholder="Enter number between 1 and 10">
		  </div>
		  </div>
		  <div class="col-xs-4">
		  <div class="form-group">
	    	<label for="exampleInputPassword1">Comment</label>
	    	<input type="text" ng-model="mood.comment" class="form-control" id="exampleInputPassword1" placeholder="Input a short comment">
	  	</div>
	  	</div>
	  </div>
	  <button type="submit" ng-click="logData()" class="btn btn-default">Log Mood</button>
	</form>
</div>